
/* ==========================================================================
  Styling
  ========================================================================== */

  .Privacy {

    &_heading {
      @extend .md-display-1;

      margin-top: 0;

      text-align: center;
    }

    &_subheading {
      margin: 24px 0;
    }

    &_content {

      &--highlight {
        @extend .md-body-2;

        font-weight: bold;
      }
    }
  }
