
/* ==========================================================================
  Styling
  ========================================================================== */

  body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .Progress {
    position: absolute;
    top: 85px;
    left: 0;

    width: 100%;
  }


