
/* ==========================================================================
  Foundation
  ========================================================================== */

  body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

/* ==========================================================================
  Components
  ========================================================================== */

  .Progress {
    position: absolute;
    top: 85px;
    left: 0;

    width: 100%;
  }

/* ==========================================================================
  Vue Material
  ========================================================================== */

  .md-dialog-container {
    z-index: 3 !important;
  }
